<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skincare Web App</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Skincare Web App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/orders}">Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admins}">Admins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/product-categories}">Product Categories</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${title}">Welcome to Skincare Web App</h1>
        </div>
    </div>
</div>
</body>
</html>